* {
  box-sizing: border-box;
  font: inherit;
}
html {
  font-size: 20px;
  font-family: sans-serif;
  margin: 0;
}
body {
  margin: 0;
}
header {
  padding: 1rem 3rem;
  background-color: coral;
  color: white;
  border-bottom: 1px solid #000;
}
:is(main, footer) {
  padding: 1rem 3rem;
}
header h1 {
  font-size: 2rem;
}
h2 {
  font-size: 2rem;
}
p {
  font-size: 1rem;
}
button {
  margin: 1rem;
}
canvas {
  border: 1px solid #ccc;
  width: 200px;
  height: 200px;
}
img {
  width: 300px;
  height: auto;
}